trunk/EpPingtree.Tests/Service References/PingtreeWebService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SubmitLead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:LeadRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LeadRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Forename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Dob" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HomeStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MonthsAtAddress" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployersName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MonthsAtEmployer" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IncomeFrequency" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MonthlyIncome" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmploymentStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DirectDeposit" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="BankAccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BankSortcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HomePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MobilePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubSource" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IpAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LoanAmount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DebitCardType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PaybackDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SellerName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitLeadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitLeadResult" type="tns:SellLeadResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SellLeadResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="tns:ESellLeadResponse" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="tns:FailureReasons" />
          <s:element minOccurs="0" maxOccurs="1" name="AcceptedLender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RedirectUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ESellLeadResponse">
        <s:restriction base="s:string">
          <s:enumeration value="Accepted" />
          <s:enumeration value="Rejected" />
          <s:enumeration value="Invalid" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="FailureReasons">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorReasons" type="tns:ArrayOfErrorReason" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfErrorReason">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ErrorReason" nillable="true" type="tns:ErrorReason" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ErrorReason">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Field" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitLeadSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitLead" />
  </wsdl:message>
  <wsdl:message name="SubmitLeadSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitLeadResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SubmitLead">
      <wsdl:input message="tns:SubmitLeadSoapIn" />
      <wsdl:output message="tns:SubmitLeadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitLead">
      <soap:operation soapAction="http://tempuri.org/SubmitLead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitLead">
      <soap12:operation soapAction="http://tempuri.org/SubmitLead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:12116/EpPingtree.WebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:12116/EpPingtree.WebService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>